@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap/dist/css/bootstrap.css';
@import "bootstrap-icons/font/bootstrap-icons.css";

@import 'tailwindcss';

@import  './style.css';

